/**
* @file
*   Style sheet for the Weblinks module.
*/
/*  These styles are also in weblinks_minimal.css */
.weblinks-pagedesc {
  display: block;
  border: 1px ridge black;  /* not in minimal */
  text-align: center;  /* not in minimal */
}

.weblinkCat {
  clear: both;
}

.weblinks-cat-image {
  float: left;
  margin-right: 5px;
}

.weblinks-ops {
  display: inline;
}

.weblinks-status-warning {
  margin-left: 2em;
  background-color: red;
  color: white;  /* not in minimal */
  font-size: 89%;  /* not in minimal */
  display: inline;
}

.weblinks-status-notice {
  margin-left: 2em;
  background-color: green;
  color: white;  /* not in minimal */
  font-size: 89%;  /* not in minimal */
  display: inline;
}
/*  end of weblinks_minimal.css */

/* If your theme doesn't put a border around fieldsets, you might want to uncomment the following. */
/*.weblinkCat fieldset.collapsible {
  border: 1px ridge #896969;
}  /* */

/* Some themes (e,g, Zen) don't do fieldset spacing right, you might want to uncomment the following. */
/*.weblinkCat fieldset legend a {
  line-height: 140%; 
} /* */

/* This can be used to alter the way subgroup fieldsets appear. */
/*.weblinkCat-depth-1 fieldset legend {
  font-size: 89%;
} /* */

/* This can be used to alter the way top level group fieldsets appear. */
/*.weblinkCat-depth-0 fieldset legend a {
  font-weight: bold;
  font-size: 140%;
} /* */

/* This can be used to alter the way the group description appears. */
/*.weblinks-cat-desc p {
  font-size: 120%;
  color: #222222;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
} /* */

/* This can be used to alter the way the click count information appears. */
.weblinks-click-stats {
  margin-left: 2em;
  font-style: italic;
  font-size: 89%;
  /* color: #226622; /* */
} /* */
